@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes color-change-red {
  0% { color: #ffffff; }
  50% { color: #ff5d5d; }
  100% { color: #ffffff; }
}

.color-change-red {
  animation: color-change-red 0.3s infinite;
}

@keyframes color-change-blue {
  0% { color: #ffffff; }
  50% { color: #a5c8ff; }
  100% { color: #ffffff; }
}

.color-change-blue {
  animation: color-change-blue 0.3s infinite;
}