@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes color-change-red {
  0% { background-color: #b4b3b3; }
  50% { background-color: #370000; }
  100% { background-color: #b4b3b3; }
}

.color-change-red {
  animation: color-change-red 1s infinite;
}

@keyframes color-change-blue {
  0% { background-color: #b4b3b3; }
  50% { background-color: #001d4b; }
  100% { background-color: #b4b3b3; }
}

.color-change-blue {
  animation: color-change-blue 1s infinite;
}

.timer {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}